[Unit]
# service description
Description=Simple syslog server with web interface.
After=network.target

[Service]
Type=simple

# user and group -- to run service
User=victor
Group=victor

# project working directory
WorkingDirectory=/home/victor/python_programs/syslog_server_app

# Command to execute when the service is started
ExecStart=/home/victor/python_programs/syslog_server_app/venv/bin/python3 syslog_server

# Automatically restart the service if it crashes
Restart=on-failure

[Install]
# Tell systemd to automatically start this service when the system boots
# (assuming the service is enabled)
WantedBy=multi-user.target



# Instructions to create a Systemd Service File for the Python Application
# Add the above lines into editor: nano /etc/systemd/system/syslog_server.service
# To reload systemd daemon:     systemctl daemon-reload
# To start service:             systemctl start syslog_server
# To stop the service:          systemctl stop syslog_server
# To enable autostart:          systemctl enable syslog_server
# To disable autostart:         systemctl disable syslog_server
# To check status of service:   systemctl status syslog_server
# To restart service:           systemctl restart syslog_server
