<!DOCTYPE html>
<html lang="en">
<head>
    <title>Syslog Server</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div id="main">
    <h1>Received Logs</h1>
    <form method="get" action="/">
        <label>
            <input class="device-filter-input" type="text" name="device" placeholder="Filter by IP"
                   value="{{ current_device }}">
        </label>
        <button class="page-button" type="submit">Filter</button>
    </form>
    <form action="{{ url_for('clear_logs_button') }}" method="post">
        <button class="page-button" type="submit">Clear Logs</button>
    </form>
</div>
<ul id="log-list">
    {% for log in logs %}
        <li>{{ log }}</li>
    {% endfor %}
</ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
